[Unit]
Description=Dynamic Background Service

[Service]
Environment=DISPLAY=:0
ExecStart=/bin/bash -c 'python ~/.wallpaper/Dynamic-Background.py'
Restart=always

[Install]
WantedBy=default.target


